@import url("../../assets/styles/theme.css");

.primary-button {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 0.95rem;
  cursor: pointer;
  transition: all 0.2s ease;
  background: var(--primary-color);
  color: #fff;
}

.secondary-button {
  background: #ffffff;
  color: var(--primary-color);
}